{% extends 'base.html' %}

{% block home %}Главная страница{% endblock %}

{%block body%}
<h1>Главная страница для загрузки файла</h1>
{% with messages = get_flashed_messages(with_categories = true) %}
    {% if messages %}
        {%for category, message in messages %}
            <div class = "alert alert-{{category}}" id="flashMessage">
                {{message}}
                <button onclick="document.getElementById('flashMessage').remove()">×</button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="post" action="/" enctype="multipart/form-data">
    <label> Загрузите файл эксель с данными инн и получите данные<br><br><input type="file" name="file"></label><br><br>
        <button type="submit">Загрузить и получить данные</button>
</form>
<br>
{% if succes %}
<div> Файл успешно загружен! </div>
{% endif %}

<br>
<a href="/result" >⬇️ Скачать итоговый файл </a>

{%endblock%}